<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.alphar.sca.payment.dao.PaymentDao">
    <insert id="save" parameterType="me.alphar.sca.payment.entities.Payment"
            useGeneratedKeys="true" keyProperty="tid">
        insert into payment(serial) values (#{serial})
    </insert>

    <resultMap id="BaseResultMap" type="me.alphar.sca.payment.entities.Payment">
        <id column="tid" property="tid" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        select tid, serial from payment where tid=#{tid}
    </select>

</mapper>